{% load compress %}
{% load static %}

{% compress js %} 
<script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
{% endcompress %}