{% load compress %}
{% load static %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fine-uploader-gallery.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ng-tags-input.bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/collections-gallery.css' %}">
{% endcompress %}