{% load compress %}
{% load static %}

{% compress js %} 
<script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/controllers/login.controller.js' %}"></script>

{% endcompress %}